<div id="side_bar_header">
  <a href="#" id="account_link">NAME</a>
  <a href="#" id="create_new">チャットを作成する</a>
</div>
<div id="side_bar_room">
  <ul id="room_name">
    <li class="room_list"><a href="#" class="room_link">ChatRoom1</a></li>
    <li class="room_list"><a href="#" class="room_link">ChatRoom2</a></li>
    <li class="room_list"><a href="#" class="room_link">ChatRoom3</a></li>
  </ul>
</div>
