<div class="wrapper">
  <%# サイドバー -------------------------------------------%>
  <div id="side_bar_container">
    <%= render "side_bar" %>
  </div>

  <%# メインチャット------------------------------------------- %>
  <div id="main_chat_container">
    <%= render "main_chat" %>
  </div>
</div>